.container {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 130px;
    margin-right: 130px;

}

.menu {
    display: flex;
}

.menu h2 {
    font-size: 20px;
    color: var(--text-color);
}
.menu h2:first-child {
    margin-right: 57px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
h1 {
    margin-left: 11px;
    font-size: 44px;
    color: var(--text-color)
}

.divider {
    margin-left: -130px;
    display: flex;
    justify-content: center;
    width: 150%;
    border: 1px solid #EBEBEB;
}

.subline {
    margin-top: -4px;
    width: 95px;
    border: 3px solid var(--main-color);
    border-radius: 6px;
}


